header {
    min-height: 60px;
    user-select: none;

    .logo-link {
        float: left;
    }
    
    .nav {
        float: right;
        left: 80px;
        a {
            color: #2c3e50;
        }
    }

    .logo-link img {
        height: 60px;
    }

    .nav-list-item {
        display: inline-block;
        padding: 19px  10px ;
        a {
            font-size: 16px;
            line-height: 1.4;
        }
    }
}
